<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_stockSize</servlet-name>
        <servlet-class>foodshelf.Add_stockSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_staff</servlet-name>
        <servlet-class>foodshelf.Add_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>foodshelf.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reallocation</servlet-name>
        <servlet-class>foodshelf.Reallocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes_yoghurt</servlet-name>
        <servlet-class>foodshelf.Likes_yoghurt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes_milk</servlet-name>
        <servlet-class>foodshelf.Likes_milk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes_butter</servlet-name>
        <servlet-class>foodshelf.Likes_butter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes_ghee</servlet-name>
        <servlet-class>foodshelf.Likes_ghee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_reg</servlet-name>
        <servlet-class>foodshelf.Customer_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryNotification</servlet-name>
        <servlet-class>foodshelf.DeliveryNotification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_stockSize</servlet-name>
        <url-pattern>/Add_stockSize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_staff</servlet-name>
        <url-pattern>/Add_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reallocation</servlet-name>
        <url-pattern>/Reallocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes_yoghurt</servlet-name>
        <url-pattern>/Likes_yoghurt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes_milk</servlet-name>
        <url-pattern>/Likes_milk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes_butter</servlet-name>
        <url-pattern>/Likes_butter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes_ghee</servlet-name>
        <url-pattern>/Likes_ghee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_reg</servlet-name>
        <url-pattern>/Customer_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryNotification</servlet-name>
        <url-pattern>/DeliveryNotification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
</web-app>
